# Visual Studio files to ignore
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
x64/
x86/
[Bb]in/
[Oo]bj/
Debug/
Release/
*.exe
*.dll
*.pdb
*.idb
*.ilk
*.log

# Intermediate files
*.tlog
*.lastbuildstate
*.cachefile
*.VC.db
*.VC.VC.opendb
*.ipch
*.db

# Others
*.ncb
*.sdf
*.opensdf
*.vsp
*.psess
*.pidb
*.svclog
*.log
*.tmp
